.container {
    font-family: 'Montserrat';
    color: black;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
}

ul{
    margin-top: 3em;
}

.item{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;
    height: 51px;
}

ul{
    list-style-type: none;
}

.submit-btn{
    cursor: pointer;
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    text-transform: uppercase;
    background-color: #2eb09c;
}

.submit-btn:hover{
    background-color: #278e7e;
}

input{
    height: 23px;
    border-radius: 4px;
    width: 20vw;
}

.edit{
    cursor: pointer;
    color: black;
    text-align: center;
    letter-spacing: 0.5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 8px 12px;
    text-transform: uppercase;
    background-color: white;
    margin-right: 10px;
}

.edit:hover{
    background-color: darkgray;
    color: white;
}

.delete{
    cursor: pointer;
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    text-transform: uppercase;
    background-color: #d32f2f;
}

.delete:hover{
    background-color: #a72424;
}